RewriteEngine  on

# Stessa stringa da utilizzare in $appPath
#RewriteBase /AMM_WebApp

RewriteRule    ^/?deploy\.php$ - [END]

RewriteRule    ^/?css/.+$ - [END]

RewriteRule    ^/?images/[^/]+$ - [END]
RewriteRule    ^images(/([^/]*)/?(.*))?$ controller/images.php?type=$2&id=$3 [END]

RewriteRule    ^test(/(.*))?$  test.php?page=$2 [QSA,END]

RewriteRule    ^(.*)$  index.php?page=$1 [QSA]